@import "primeflex/primeflex.css";

html,
body {
  margin: 0;

  background-color: unset !important;
  background-image: url(bg/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section {
  height: 100vh;
}
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-centered {
  align-items: center;
}
.sec1 {

  .sec_container {
    height: 100%;
    padding: 2rem;

    .asd {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.sec3 {

  .sec_container {
    height: 100%;
    padding: 2rem;

    .asd {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.sec4 {

  .sec_container {
    height: 100%;
    padding: 2rem;

    .asd {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.container {
  position: fixed;

  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.section {
  height: 100vh;
}
